/CS499PirateSimJME/nbproject/private/
*.jar
CS499PirateSimJME/build/built-jar.properties
*.netbeans_automatic_build
*.class
CS499PirateSimJME/lwjgl64.dll
*.dll
/CS499PirateSimJME/build/
/CS499PirateSimJME/dist/
*.properties
CS499PirateSimJME/nbproject/genfiles.properties
CS499PirateSimJME/nbproject/build-impl.xml
CS499PirateSimJME/nbproject/build-impl.xml